// rozszerzenia: scss lub saas (starsza wersja)
// skupiamyy się na scss, które ma składnie zgodną z css

// każdy kod css jest zgodny z scss

// -------------------
// Zagnieżdżanie styli
// -----------------
section {
  background: #000;
  article {
    margin: 10px;
    div {
      display: flex;
    }
  }
}

// zostanie skompilowane do
section {
  background: #000;
}
section article {
  margin: 10px;
}
section article div {
  display: flex;
}

// -------------
// odwołania do rodzica
// -------------

#label {
  padding: 10px;
  &:hover {
    background: lightcoral;
  }
  &.selected  {
    background: red;
  }
}
// skompilowane do selektorów
// #label, #label:hover oraz #label.selected

// -------------------
// zmienne
// -----------------

// pure css: (muszą być deklarowane w jakimś zakresie, globalny to :root - dla stron to odpowiednik <html>
:root {
  --primaryColor: #333;
}
div {
  color: var(--primaryColor);
}
// sass way
$secondaryColor: #aaa;
span {
  color: $secondaryColor;
}

// ----------
// mixiny
// ----------
@mixin defaultBox {
  border: 1px solid #000;
  padding: 10px;
  margin: 15px;
}

div {
  @include defaultBox();
}
// odpowiednikiem mixina bez parametrów jest extend
%blackonwhite {
  background: black;
  color: white;
}

aside {
  @extend %blackonwhite;
  font-style: italic;
}

// mixiny z parametrami

@mixin paddingMargin($val) {
  padding: $val;
  margin: -$val;
}
nav {
  @include paddingMargin(15px);
}

// -----------
// operatory
// ----------
section {
  width: 250px/700px; // +, -, *, /, %
}

// ---------
// import styli z innego pliku
// -----------
// stary sposób: (import do global space)
// @import 'scss/box'
// aktualnie (z przestrzenią nazw)
// @use 'scss/box'

// interpolacja
@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
  .icon-#{$name} {
    background-image: url("/icons/#{$name}.svg");
    position: absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
  }
}

@include corner-icon("mail", top, left);

//wbudowane moduły
// mapy
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@debug map.get($font-weights, "medium"); // 500
@debug map.get($font-weights, "extra-bold"); // null

// https://sass-lang.com/documentation/modules/color
// dokumentacja: https://sass-lang.com/documentation
